.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    color: transparent;
}

.icon::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    transform: scale(0.5);
    transform-origin: 0 0;
    background-image: url(space-age-icons.webp);
    background-position: 100px 100px;
    background-repeat: no-repeat;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody:nth-child(odd of :not([hidden])) {
    background: #eee
}

.inner-column {
    border-width: 0 1px;
    border-style: none solid
}

td,
th {
    padding: .2em .5em;
}

.data {
    white-space: nowrap;
}

.weight {
    text-align: right
}