{% extends "layout.html" %}

{% block content %}
  <section class=article_list>
  {% for year, posts in posts_by_year %}
    <h2 id="{{ year }}">{{ year }}</h2>
    {% for page in posts %}
      <article>
        <h3>
          <a href="{{ page.url() }}">{{ page.title }}</a>
          − <time pubdate datetime="{{ page.published.isoformat() }}">{{
            page.published.isoformat() }}</time>
        </h3>
        {{ page.summary|markdown|safe }}
      </article>
    {% endfor %}
  {% endfor %}
  </section>
{% endblock %}
