{% extends "layout.html" %}

{% block content %}
  <section id=about>
    {{ about.html|safe }}
  </section>
  <hr>
  <section class=article_list>
  {% for year, posts in posts_by_year %}
    <section id="{{ year }}">
    {% for page in posts %}
      <article>
        <h3>
          <time pubdate datetime="{{ page.published.isoformat() }}">{{
            page.published.isoformat() }}</time>
          − <a href="{{ page.url() }}">{{ page.title }}</a>
        </h3>
        {{ page.summary|markdown|safe }}
      </article>
    {% endfor %}
    </section>
  {% endfor %}
  </section>
{% endblock %}
