{% extends "layout.html" %}
{% import 'utils.html' as utils %}

{% block html_title %}{{ page.title }} − {{ super() }}{% endblock %}

{% block content %}
{% if page.published|d %}
  <article>
    <header>
      <h2>{{ page.title }}</h2>
      <p>By Simon Sapin on {{ utils.html5_date(page.published) }}
        {% for tag in page.tags|d([]) -%}
          {% if loop.first %}in {% else %}, {% endif -%}
          <a href="{{ url_for('tag', name=tag) }}">{{ tag }}</a>
        {%- endfor %}
      </p>
    </header>
    {{ page }}
  </article>
{% else %}
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  {% if page.html %}
  <section>
    {{ page }}
  </section>
  {% endif %}
{% endif %}
{{ utils.article_list(sub_pages) }}
{% endblock %}
