{% extends "layout.html" %}
{% import 'utils.html' as utils %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% if page.published|d %}
  <article>
    <header>
      <h2>{{ page.title }}</h2>
      <p>By Simon Sapin, on {{ utils.html5_date(page.published) }}</p>
    </header>
    {{ page.html|safe }}
  </article>
{% else %}
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  {% if page.html %}
  <section>
    {{ page.html|safe }}
  </section>
  {% endif %}
{% endif %}
{{ utils.article_list(sub_pages|d) }}
{% endblock %}
