{% extends "article_list.html" %}
{% import 'utils.html' as utils %}

{% block html_title %}{{ page.title }} − {{ super() }}{% endblock %}

{% block content %}
{% if page.published|d %}
  <article>
    <header>
      <h2>{{ page.title }}</h2>
      <p>By Simon Sapin on {{ utils.html5_date(page.published) }}
        {% if parent|d %}
          in <a href="{{ url_for('page', path=parent.path) }}">
            {{ parent.title }} </a>
        {% endif %}
      </p>
    </header>
    {{ page }}
  </article>
{% else %}
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  {% if page.html %}
  <section>
    {{ page }}
  </section>
  {% endif %}
{% endif %}
{{ super() }}
{% endblock %}
