<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <!--
    Looking for the source? See https://github.com/SimonSapin/exyr.org
  -->
  <title>
    {%- if self.title|d and self.title() -%}
        {{ self.title()|striptags }} −
    {% endif -%}
    {{ self.site_title() -}}
  </title>
  <link rel=stylesheet href="{{ url_for('stylesheet') }}">
  <link rel=alternate href="{{ url_for('feed') }}" type="application/atom+xml"
    title="Article Feed">
  <link rel="shortcut icon" href="{{
    url_for('static', filename='favicon.png') }}" type="image/png" >
  <link rel="openid.server" href="https://exyr.alwaysdata.net/openid/index.php">
  <link rel="openid.delegate" href="https://exyr.alwaysdata.net/openid/index.php">
</head>

<body>
  <header>
    <h1>
        <a href="/">{% block site_title %}Exyr.org{% endblock %}</a>
        <a href="{{ url_for('feed') }}"><img alt="Subscribe"
          src="{{ url_for('static', filename='feed-icon.png') }}"></a>
    </h1>
  </header>

  <div id=content>
  {% block content %}{% endblock %}
  </div>

  <footer>
    {#- See <rights/> in atom.xml too #}
    <p>© <a href="{{ url_for('home') }}">Simon Sapin</a>,
       content licensed under
       <a rel=license href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
          Creative Commons BY-NC-SA</a>.</p>
  </footer>
</body>
</html>
