<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <!--
    Looking for the source? See https://github.com/SimonSapin/exyr.org
  -->
  <title>{% block html_title %}{{ self.site_title() }}{% endblock %}</title>
  <link rel=stylesheet href="{{ url_for('stylesheet') }}">
  <link rel=alternate href="{{ url_for('feed') }}" type="application/atom+xml"
    title="Article Feed">
  <link rel="shortcut icon" href="{{
    url_for('static', filename='favicon.png') }}" type="image/png" >
  <!--[if lte IE 8]>
  <script>
    (function(){if(!/*@cc_on!@*/0)return; var e =
"abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video"
     .split(',');
    for(var i=0;i<e.length;i++){document.createElement(e[i])}})()
  </script>
  <![endif]-->
</head>

<body>
  <header>
    <h1><a href="/">{% block site_title %}Exyr.org{% endblock %}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Posts</a></li>
        <li><a href="{{ url_for('tags') }}">Tags</a></li>
        <li><a href="{{ url_for('page', path='about') }}">About</a></li>
        <li><a href="{{ url_for('feed') }}">Subscribe <img alt=""
          src="{{ url_for('static', filename='feed-icon.png') }}"></a></li>
      </ul>
    </nav>
  </header>

  <div id=content>
  {% block content %}{% endblock %}
  </div>
  
  <footer>
    {#- See <rights/> in atom.xml too #}
    <p>© Copyright 2010 by <a href="{{ url_for('page', path='about') 
        }}">Simon Sapin</a>.</p>
    <p>Content licensed under a Creative Commons
      Attribution-NonCommercial-ShareAlike License.</p>
  </footer>
</body>
</html>
