article, aside, figure, footer, header, hgroup, menu, nav, section {
    /* Fix HTML5 elements in older browsers */
    display:block;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #111;
    /* 18px/27px with the default of 16px */
    font: 1.125em/1.5 Palatino, Georgia, serif;
}

header, h2, header p, footer p {
    text-align: center;
}

h1 {
    background: {% set bg_h1 = '#123A40' %}{{ bg_h1 }};
    color: #fff;
    margin: 0;
    padding: .2em;
    text-shadow: #000 2px 2px 5px;
    font-weight: normal;
    letter-spacing: .05em;
}

/* `h1 a:hover` to override `a:hover` */
h1 a, h1 a:hover, h1 a:focus, h1 a:active, nav a {
    color: #fff;
    background: none;
    text-decoration: none;
}

nav {
    background: {% set bg_nav = '#195159' %}{{ bg_nav }};
    color: #fff;
    padding: 1em;
    text-shadow: #000 1px 1px 3px;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 .3em;
}

nav a {
    padding: .2em .5em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

nav a:hover, nav a:focus, nav a:active {
    background: {{ bg_h1 }};
}

nav img {
    vertical-align: middle;
    margin: 0 0 3px .3em;
}

#content, footer {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 25px;
}

* html #content, * html footer {
    /* IE6 does not support max-width */
    width: 740px;
}

footer {
    font-size: .8em;
    padding: 0 15px;
    margin: 2em auto 1em;
}

footer p:first-child {
    border-top: 1px dotted;
}

footer p {
    margin: 0;
    padding: .5em 0 0;
}

header p {
    font-style: italic;
}

img {
    border: none;
}

a {
    color: #006;
}

a:hover, a:focus, a:active {
    background: #f2f2f2;
}

code {
    background: #eee;
}

hr {
    border: none;
    margin: 0;
    height: auto;
}

hr:before {
    display: block;
    text-align: center;
    font: 2em/1 serif;
    color: black;
    content: '\21AC';

}

.single_image {
    text-align: center;
}

.single_image img {
    -moz-box-shadow: 5px 5px 5px #555;
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #888;
}

.article_list h3 {
    margin: 2em 0 0;
    font-weight: normal;
    font-size: 1em;
}

.article_list h3 a {
    font-size: 1.15em;
    font-weight: bold;
    margin-right: .2em;
}

.article_list p {
    margin: .5em 0;
}

{{ pygments_css }}

.codehilite, blockquote {
    background-color: #eee;
    margin: 0 -20px;
    padding: 5px 20px 5px 15px;
    border-left: 5px solid #888;
}
.codehilite {
    line-height: normal;
}
.codehilite pre {
    white-space: pre-wrap;
}
