
{% macro html5_date(date, format='%B %d, %Y', pubdate=True) -%}
    <time{{ ' pubdate' if pubdate }} datetime="{{ date.isoformat() }}">
        {{- date.strftime(format) }}</time>
{%- endmacro %}

{% macro article_list(articles) %}
{% if articles %}
  <section class=article_list>
  {% for page in articles %}
    <article>
      <h3><a href="{{ page.url() }}">
          {{ page.title }}</a></h3>
      <p>{{ html5_date(page.published) }}</p>
      {{ page.summary|markdown|safe }}
      <p><a href="{{ page.url() }}">Read more…</a></p>
    </article>
  {% endfor %}
  </section>
{% endif %}
{% endmacro %}
