{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
  <section id=about>
    {{ about|safe }}
  </section>
  <hr>
  <section class=article_list>
  {% for year, posts in posts_by_year %}
    <section id="{{ year }}">
    {% for page in posts %}
      <article>
        <h3>
          <time pubdate datetime="{{ page.published }}">{{
            page.published }}</time>
          − <a href="/{{ year }}/{{ page.slug }}/">{{ page.title }}</a>
        </h3>
        {{ page.summary_html|safe }}
      </article>
    {% endfor %}
    </section>
  {% endfor %}
  </section>
{% endblock %}
